body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #f8f6f2;
    text-align: center;
}

.logo {
    font-family: Playfair Display, serif;
    letter-spacing: 4px;
    font-size: 24px;
    margin: 20px;
}

.hero {
    padding: 100px 20px;
}
